spring:
  application:
   name: eureka

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: http://localhost:5565/eureka/


server:
  port: 5565